/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Layout
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 767px;
  font-family: 'Lato', sans-serif;
}

/* styles for screens smaller than 768px */
@media (max-width: 767px) {
    /* CSS styles */
  }
  
  /* styles for screens between 768px and 991px */
  @media (min-width: 768px) and (max-width: 991px) {
    /* CSS styles */
  }
  
  /* styles for screens larger than 992px */
  @media (min-width: 992px) {
    /* CSS styles */
  }

/*
  ========================================
  Hero image
  ========================================
*/

.hero-image {
    background-image: url("../pictures/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0 15%;
    height: 800px;
    /*width: 100wh; ??? */
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 30px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #007F0E;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #007F0E;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: white;
  filter: opacity(50%);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


.menu {
   display: block;
   margin-top: 20px;
   font-weight: bold;
   
}

.menu a {
    color:#007F0E;
    text-decoration: none;
}

.menu a:hover {
    color: #8E6822;
    border-bottom: 1px solid #8E6822;
}

/*
  ========================================
  Header
  ========================================
*/


h1 {
    margin-top: 10px;
    text-align: center;
    color: #8E6822;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*
  ========================================
  Logo
  ========================================
*/

.logo {
    margin-top: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.logo:hover {
    transition: 8s;
    transform:rotate(360deg);
}

.about {
    height: 390px;
    padding-left: 80px;
    padding-right: 80px;
    block-size: fit-content;
    padding-bottom: 10px;
}

h2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #8E6822;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
}
/*
  ========================================
  Main section
  ========================================
*/

.main-section {
  display: flex;
  flex-direction: column;
}

.produkt {
  padding-bottom: 10px;
  height: 400px;
  width: 100wh;
  position: relative;

}

.nazev {
  background-color: #8E6822;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 11px;
  text-shadow: 1px 1px 2px #8E6822;
  letter-spacing: 2px;
  position: absolute;
}

.foto {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.border-radius-right {
    border-radius: 0 25% 0 0;

}

.border-radius-left {
    border-radius: 0 0 0 25%;
}

.prvni {
  background-image: url("../pictures/kravy2.jpg");
  background-position-x: 34%;
}

.druhy {
  background-image: url("../pictures/rostliny.jpg");
}

.treti {
  background-image: url("../pictures/sluzby.jpg");
  background-position-x: 50%;
}

.ctvrta {
  background-image: url("../pictures/ovecka.jpg");
  background-position-x: 60%;
  background-position-y: 50%;
  background-size: 97%;
  filter: grayscale(0%);
}

.pata {
  background-image: url("../pictures/hlavni-fotka.jpg");
  background-position-x: 60%;
  background-position-y: 50%;
  filter: grayscale(0%);
}

.sesta {
  background-image: url("../pictures/zvirata2.jpg");
  filter: grayscale(0%);
  background-position-y: 50%;

}

.foto:hover {
    filter: sepia(50%);
  background-color: white;
}

@media (max-width: 770px) {
  .main-article {
    flex-basis: 60%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/*
  ========================================
  Footer
  ========================================
*/


/*
  ========================================
  Kontaktní formulář
  ========================================
*/

.button {
    width: 100px; 
    background-color: white;
    
}

input, textarea {
  border-radius: 20%;
  background-color: transparent;
  width: 300px;
  height: 30px;
  
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nazev-galerie {
  height: 400px;
  background-color: #007F0E;
}


/*
  ========================================
  Kontaktní formulář
  ========================================
*/

.obrazky {
    display: flex;
    flex-direction: row;
    background-image: url("../pictures/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    
}

.pictures {
    flex-basis: 49%;
    background-color: transparent;
}

.kontaktni-udaje {
    padding-left: 80px;
    display: inline-block;
}

.form:hover {
    background-color: #007F0E;
}

.sitemap2 li {
    
    display: block;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 80px;
    text-decoration: none;
}

 
 .sitemap2 {
     color:#007F0E;
     text-decoration: none;
     text-align: center;
     height: 390px;
 }
 
 .sitemap2 a:hover {
     color: #8E6822;
     border-bottom: 1px solid #8E6822;
     text-decoration: none;
 }
.sitemap2 a {
 text-decoration: none;
 color:#007F0E;
}

.footer {
    background-image: url("../pictures/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 390px;
}

