/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Layout
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary: #8E6822;
  --secondary: #007F0E;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 2fr;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: #8E6822;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
}

h2 {
    font-size: 28px;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    color: var(--secondary);
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 2px white;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
}

.border-radius-right {
    border-radius: 0 25% 0 0;
}

.border-radius-left {
    border-radius: 0 0 0 25%;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }

/*
  ========================================
  Hero image
  ========================================
*/

.row-one {
  grid-column: 1/2;
}

.hero-image {
    background-image: url("../pictures/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
  }

/*
  ========================================
  -- Hamburger menu
  ========================================
*/

#menuToggle
{
  display: block;
  position: relative;
  top: 35px;
  left: 35px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  /*filter: opacity(80%);*/
}

#menuToggle a
{
  text-decoration: none;
  color: #007F0E;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: #8E6822;
}

#menuToggle input
{
  display: block;
  width: 100%;
  /* height: 32px; */
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--secondary);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #007F0E;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu
{
  display: block;
  font-weight: bold;
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px 0 50px 50px;
  padding-top: 125px;
  padding-bottom: 30px;
  background:white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  line-height: 1.8;
  font-size: 28px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.active:hover {
  color: var(black);
}

/*
  ========================================
  -- Logo
  ========================================
*/

.logo {
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo:hover {
    transition: 4s;
    transform:rotate(360deg);
}

/*
  ========================================
  Article
  ========================================
*/

.row-two {
  grid-column: 1/2;
  grid-row: 2;
}

.article-news {
    height: 150px;
    padding-left: 35px;
    padding-right: 35px;
    block-size: fit-content;
    padding-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}

/*
  ========================================
  Main section
  ========================================
*/

.row-three {
  grid-column: 1/2;
  grid-row: 3;
  text-align: center;
  background-image: url("../pictures/sprinkles.png");
  background-repeat: repeat;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-box {
    display: flex;
    flex-direction: row;}

/* desktop styles */
@media (min-width: 1200px) {
  .flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo {
    flex-basis: calc(100% / 3);
  }
}

.photo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 200px;
  width: 200px;
  flex-basis: 49%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.one {
  background-image: url("../pictures/sluzby.png");
}

.two {
  background-image: url("../pictures/zvirata.png");
}

.three {
  background-image: url("../pictures/plodiny.png");
  background-position-x: 50%;
}

a.title {
  display: inline;
  font-size: 45px;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 3px;
  text-decoration: none;
  align-self: center;
  color: var(--primary);
  flex-basis: 49%;
  text-shadow: 2px 2px 4px black;
  margin-right: 30px;
}

.title:hover {
    color: #007F0E;
}

/*
  ========================================
  Sitemap
  ========================================
*/

.row-four {
    grid-column: 1/2;
    grid-row: 4;
}

.article-about {
  height: 150px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  block-size: fit-content;
  font-family: 'Raleway', sans-serif;
}

.sitemap {
    padding: 50px 0 0 50px;
}

.sitemap a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color:var(--primary);
    font-family: 'Raleway', sans-serif;
}

.sitemap li {
    padding: 15px 0;
}

.sitemap a:hover {
    color: #8E6822;
}

/*
  ========================================
  About us
  ========================================
*/

/*
  ========================================
  Footer
  ========================================
*/

.row-five {
    grid-column: 1/2;
    grid-row: 5;
}

.footer {
    background-color:var(--primary);
    color: white;
    display: block;
 
}

.border {
  padding-left: 35px;
  padding-bottom: 50px;
}

/*
.footer-logo {
    position: absolute;
    top: 10%;
    right: 10%;
    max-width: 30%;
}
*/

.footer a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  display:block;
  padding-left: 50px;
  line-height: 1.8;
}

.footer a:hover {
  color: black;
}

.email {
    background-image: url("../pictures/email.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
}

.phone {
  background-image: url("../pictures/phone.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
}

.facebook {
  background-image: url("../pictures/facebook.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
}

.location {
  background-image: url("../pictures/location.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
}

/*
  ========================================
  Copyright info
  ========================================
*/

.row-six {
  grid-column: 1/2;
  grid-row: 6;
}

.copyright {
    color:#8E6822;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
}

/*
  ========================================
  Media queries
  ========================================
*/

/* small tablet styles */
@media (min-width: 620px) {
    /* CSS styles */
  }
  
  /* large tablet & laptop styles */
  @media (min-width: 768px) and (max-width: 960px) {
    /* CSS styles */
  }
  
  /* desktop styles */
  @media (min-width: 1200px) {
    /* CSS styles */
  }
