/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Layout
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: #8E6822;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #8E6822;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(112, 99, 99);
}

.border-radius-right {
    border-radius: 0 25% 0 0;
}

.border-radius-left {
    border-radius: 0 0 0 25%;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }

/*
  ========================================
  Hero image
  ========================================
*/

.hero-image {
    background-image: url("../pictures/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0 15%;
    height: 800px;
    width: 100wh;
}

/*
  ========================================
  -- Hamburger menu
  ========================================
*/

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  /*filter: opacity(80%);*/
}

#menuToggle a
{
  text-decoration: none;
  color: #007F0E;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: #8E6822;
}

#menuToggle input
{
  display: block;
  width: 100%;
  /* height: 32px; */
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #8E6822;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #007F0E;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu
{
  display: block;
  font-weight: bold;
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  padding-bottom: 30px;
  background:rgba(255, 255, 255, 0.849);
  border-radius: 0 0 25% 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 15px 0;
  font-size: 25px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/*
  ========================================
  -- Logo
  ========================================
*/

.logo {
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo:hover {
    transition: 4s;
    transform:rotate(360deg);
}

/*
  ========================================
  Article
  ========================================
*/

.article {
    height: 150px;
    padding-left: 50px;
    padding-right: 50px;
    block-size: fit-content;
    padding-bottom: 50px;
}

/*
  ========================================
  Main section
  ========================================
*/

.product-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  position: relative;
  width: 480px;
  height: 300px;
}

.one {
  background-image: url("../pictures/sluzby.jpg");
  background-position-x: 34%;
}

.two {
  background-image: url("../pictures/zvirata.jpg");
}

.three {
  background-image: url("../pictures/plodiny.jpg");
  background-position-x: 50%;
}

.title-effect {
    background: rgba(255, 255, 255, 0.603);
    width: 100%;
    height: 100%;
}

.title {
    color:#007F0E;
    font-size: 55px;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 3px;
    position: absolute;
    top: 65%;
    left: 10%;
    width: 50%;
    height: 80px;
    text-transform: uppercase;
  }

/*
  ========================================
  Sitemap
  ========================================
*/

.sitemap {
    padding: 50px 0 0 80px;
}

.sitemap a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.sitemap li {
    padding: 15px 0;
}

.sitemap a:hover {
    color: #8E6822;
}

/*
  ========================================
  Footer
  ========================================
*/

.footer {
    height: 239px;
    background-color:#8E6822;
    padding: 50px 0 50px 80px;
    color: black;
    position: relative;
}

.footer-logo {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 30%;
}

.footer li {
    line-height: 1.5;
    font-size: 18px;
}

.email {
    list-style-image: url("../pictures/email.png");
}

.phone {
    list-style-image: url("../pictures/phone.png");
}

.facebook {
    list-style-image: url("../pictures/facebook.png");
}

.location {
    list-style-image: url("../pictures/location.png");
}

/*
  ========================================
  Copyright info
  ========================================
*/

.copyright {
    color:#8E6822;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
}

/*
  ========================================
  Media queries
  ========================================
*/

/* styles for screens smaller than 768px */
@media (max-width: 767px) {
    /* CSS styles */
  }
  
  /* styles for screens between 768px and 991px */
  @media (min-width: 768px) and (max-width: 991px) {
    /* CSS styles */
  }
  
  /* styles for screens larger than 992px */
  @media (min-width: 992px) {
    /* CSS styles */
  }
